
<nav class="navbar navbar-expand navbar-light bg-light justify-content-center">
    <p class="navbar-brand text-primary">{{title}}</p>
</nav>


<div class="container-fluid py-5 w-100">
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center card border-success">
            <div class="card-header container-card text-muted"><b class="text-success">Add a new Photo </b><br>Click button to add a new photo</div>
            <div class="card-body text-center" *ngIf='!addNewPhoto'><button class="btn btn-outline-success" (click)='addPhoto()' title="Add a new photo" ><i class="fa fa-plus"></i> Click here to add Photo!</button></div>
            <div class="card-body text-center" *ngIf='addNewPhoto'><button class="btn btn-dark" (click)='addPhoto()' title="Cancel adding new photo" ><i class="fa fa-times-circle"></i> Cancel new photo</button></div>
        </div>
  
        <div class="col-sm-4 text-center card border-warning">
            <div class="card-header container-card text-muted"><b class="text-warning"> Load all Photos</b><br>Click button to load all photos immediately,<strong> may cause lag!</strong></div>
            <div class="card-body text-center"><button class="btn btn-outline-warning" (click)='open(content)' title="Load all photos immediately, will cause lag"><i class="fa fa-spinner"></i> Load all!</button></div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf='addNewPhoto'>
        
            
            <div class="col-sm-8 text-center card border-primary card-padding">
                <form #photoForm="ngForm" (ngSubmit)=onSubmit(photoForm.value)>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="It can be anything" name="title" ngModel>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="url">Link to picture</label>
                          <input type="text" class="form-control" id="url" placeholder="https://via.placeholder.com/600" name="url" ngModel>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="thumbnailUrl">Thumbnail link</label>
                          <input type="text" class="form-control" id="thumbnailUrl" placeholder="Example: https://via.placeholder.com/150 (You can use the full size photo)" name="thumbnailUrl" ngModel>
                        </div>
                    </div>
                      <button type="submit" class="btn btn-outline-primary"><i class="fa fas fa-upload"></i> Submit</button>
                </form>
          </div>
        
    </div>
</div>

<div infinite-scroll
     [infiniteScrollDistance]="distance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScroll()">
    <div class="row justify-content-center"
        *ngFor='let photo of photos'>
        <div class="card col-sm-6 center-content col-">
            <div class="card-header w-100"><b>Title: </b><a [routerLink]="['/photos', photo.id]" title="Photo details: {{photo.title}}">{{photo.title}}</a></div>
            <img class="card-img-top" src="{{photo.thumbnailUrl}}" style="width: 150px;height: 150px;"  [routerLink]="['/photos', photo.id]" title="{{photo.title}}">
        </div>
    </div>
</div>

<!-- confirmation modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-warning-title">Image deletion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <p><strong>Are you sure you want to load all images</strong></p>
          <p><span class="text-danger">May cause lag or even crash browser</span></p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('yes')">Yes</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Cancel')">No</button>
    </div>
  </ng-template>
